#ifetch.config

module=logo --color yellow

module=separator

module=os --color red
module=hostname --color yellow
module=network --color blue
module=uptime --color white
module=user
module=shell --color yellow
module=disk -g --color cyan
module=ram -g --color white
module=cpu
module=kernel --color red
module=arch --color magenta
module=pkgs --color blue

