# ifetch.config

module=logo --color cyan
module=separator

module=os --color red
module=hostname --color yellow
module=kernel --color red
module=uptime --color white
module=shell --color yellow

module=cpu
module=ram -g --color white
module=disk --color cyan

module=network --color blue
module=dns --color blue
module=packages --color blue
module=process --color magenta