#System-wide config in "/etc/ifetch/ifetch.config"
#Users config in "~/.config/ifetch/ifetch.config"

module=logo --color yellow
module=user --color red
module=ram --color white
module=pkgs
module=uptime --color blue
module=kernel --color green
module=os
module=arch  --color cyan
module=shell --color magenta
module=hostname --color blue
