# ifetch.config
# developer ifetch preset

module=logo --color blue
module=separator

module=os --color red
module=hostname --color yellow
module=kernel --color red
module=arch --color magenta
module=uptime --color white
module=shell --color yellow
module=timezone --color blue

module=cpu
module=ram -g --color white
module=disk -g --color cyan

module=pkgs --color blue
module=process --color magenta
module=network --color blue