# ifetch.config
# developer ifetch preset

module=logo --color blue
module=separator

module=os --color red
module=hostname --color yellow
module=kernel --color red
module=arch --color magenta
module=uptime
module=shell --color yellow
module=timezone --color blue

module=cpu
module=ram -g
module=disk --color cyan

module=packages --color blue
module=process --color magenta
module=tty --color green
module=network --color blue
module=dns --color red