# ifetch.config
# full ifetch preset

module=logo --color cyan
module=separator

module=os --color red
module=hostname --color yellow
module=kernel --color red
module=arch --color magenta
module=uptime --color white
module=timezone --color blue
module=user
module=shell --color yellow

module=cpu
module=ram -g --color white
module=disk -g --color cyan
module=temperature
module=process --color magenta

module=network --color blue

module=pkgs --color blue

module=crypto BTC --color blue
module=weather Rotterdam

module=echo "Message: Hello :3" --color red