# ifetch.config
# gaming ifetch preset

module=logo --color red
module=separator

module=os --color red
module=kernel --color red
module=uptime --color blue

module=cpu --color yellow
module=ram -g --color red
module=disk --color cyan
module=temperature --color red

module=process --color magenta
module=network --color blue
module=dns --color red