# ifetch.config
# gaming ifetch preset

module=logo --color red
module=separator

module=os --color red
module=kernel --color red
module=uptime --color white

module=cpu --color yellow
module=gpu --color yellow
module=ram -g --color white
module=disk -g --color cyan
module=temperature --color red

module=process --color magenta
module=network --color blue